/* Formattazione pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header, footer, body {
     font-family: "Roboto", sans-serif;
}

/* Regole pagina */
.header {
    background-color: #255ee9;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-link {
    color: white;
    padding: 10px;
}

.a-button {
    color: black;
    padding: 10px;
    border-radius: 30px;
    border-style: none;
    border-color: white;
    background-color: white;
}