/* Formattazione pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

footer,
body {
    font-family: "Roboto", sans-serif;
}


/* Utilities */

.button {
    padding: 10px;
    border-radius: 30px;
    border-style: none;
}

.col-4 {
    flex-basis: calc((100%/12) * 4);
}

.col-8 {
    flex-basis: calc((100%/12) * 8);
}

.col-6 {
    flex-basis: calc((100%/12) * 6);
}

.col-2 {
    flex-basis: calc((100%/12) * 2);
}

.grey-bg {
    background-color: #f6f6f6;
}

/* REGOLE HEADER */

.header {
    background-color: #255ee9;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-link {
    color: white;
    padding: 10px;
}

.a-login {
    color: black;
    border-color: white;
    background-color: white;
}

.hero-section {
    background-image: url(/img/jumbo.png);
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;

}


.hero-content {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

.hero-title {
    color: white;
    padding-bottom: 20px;
}

.hero-p {
    color: white;
    line-height: 30px;
    padding-bottom: 20px;
}

.hero-download {
    background-color: white;
    color: black;
    padding: 15px;
    margin-right: 20px;
}

.hero-discord {
    background-color: #23272a;
    color: white;
    padding: 15px;
}

.first-section {
    display: flex;
    align-items: center;
    justify-content: center;

}

.first-content {
    display: flex;
     width: 70%; 
}

.first-title {
    font-size: 50px;
}

.fourth-section {
    background-color: #f6f6f6;
}
.fourth-content {
    margin: 0 auto;
    padding-top: 100px;
    width: 70%;
}

.fourth-p {
    padding-top: 40px;
}

.final-title {
    width: 40%;
    margin: 0 auto;
    
}

.fourth-title {
    font-size: 20px;
    background-image: url(/img/stars.svg);
}

.button-box {
    width: 30%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 10px;
}

.download-button {
     color: white;
    border-color: #7289da;
    background-color: #7289da;
}